html {
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;


  height: 100%;
  margin: 0;
  background-color: #282828;
  color: #EBDBB2;
  font-family: "Input Mono Narrow";
}
.clock {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.opt {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#time {
  font-size: 13em;
}

#date {
  font-size: 5em;
}
strong {
  font-size: 7em;
}
